body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #ffffff;
}
.home-page {
    background-image: url('bb.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
.home-page h1 {
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}
.home-page h2 {
    font-size: 2rem;
    font-weight: 400;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}
.home-page .search-bar {
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
}
.home-page .btn-explore {
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #ff6f61;
    border: none;
    color: #fff;
    transition: background-color 0.3s ease;
}
.home-page .btn-explore:hover {
    background-color: #ff4a3d;
}
.home-page .logo {
    width: 170px;
    margin-bottom: 20px;
}

.playlist-page {
    display: none;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}
.nav-link {
    color: #fff;
    transition: color 0.3s ease;
}
.nav-link:hover {
    color: #ccc;
}
.navbar {
    background-color: #1a1a1a;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.navbar.scrolled {
    background-color: rgba(26, 26, 26, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.playlist-category {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.playlist-song {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.playlist-song:last-child {
    border-bottom: none;
}
.playlist-song p {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0;
    color: #333; 
}
.playlist-song button {
    font-size: 0.9rem;
    font-weight: 500;
}
.player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #e0d5d5; 
    color: #333; 
    padding: 10px;
    text-align: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}
audio {
    width: 100%;
}
.container {
    padding-bottom: 100px;
}


.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}
.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}
.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}
